table{
  border-collapse: collapse;
  border-top: 1px solid black;
 
}

th, td {
  border-bottom: 1px solid rgb(8, 8, 8);
  padding: 1em;
}

tr{
  border-left: 1px solid black;
  border-right: 1px solid black;
}

.App {
  text-align: center;
}

.teamtable {
  margin-right: auto;
  margin-left: auto;
}
